@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-open {
  overflow: hidden;
}
.sidebar:hover::-webkit-scrollbar-thumb{
  background-color: #888;
}

.overflow-sidebar::-webkit-scrollbar {
  width: 5px;
}

.overflow-sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.overflow-sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
}

.overflow-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.overflow-scroll {
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.47);
}

.overflow-overview::-webkit-scrollbar {
  width: 5px;
}

.overflow-overview::-webkit-scrollbar-track {
  background-color: transparent;
}

.overflow-overview::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.overflow-overview::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.overflow-video::-webkit-scrollbar {
  width: 2px;
}

.overflow-video::-webkit-scrollbar-track {
  background-color: transparent;
}

.overflow-video::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: px;
}

.overflow-video::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
