@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-open {
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.47);
}

.overflow-overview::-webkit-scrollbar {
  width: 5px;
}

.overflow-overview::-webkit-scrollbar-track {
  background-color: transparent;
}

.overflow-overview::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.overflow-overview::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.overflow-video::-webkit-scrollbar {
  width: 2px;
}

.overflow-video::-webkit-scrollbar-track {
  background-color: transparent;
}

.overflow-video::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.overflow-video::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollbar-container {
  overflow-y: scroll; /* Set the container to have a vertical scrollbar */
  direction: rtl; /* Set the direction to right-to-left */
}

/* Style for the content inside the container */
.scrollbar-content {
  direction: ltr; /* Set the direction back to left-to-right for the content */
}
